body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  min-height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form input {
  display: block;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
}

header {
  height: 60px;
  padding: 10px;
}

header nav {
  display: flex;
}

header nav a {
  margin-right: 10px;
}
